<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<meta charset="utf-8">
<title>About Us</title>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/about/about-us.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<div class="ct-pageWrapper" id="ct-js-wrapper">
<section class="company-heading intro-type" id="parallax-one">
   <div class="container">
      <div class="row product-title-info">
         <div class="col-md-12">
            <h1>
               OUR TEAM
            </h1>
         </div>
      </div>
   </div>
   <div class="parallax" id="parallax-cta" style="background-image:url(../static/about/images/hero.jpg);">
      &nbsp;
   </div>
</section>

<section class="customers-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
<div class="container">
   <div class="col-md-8 col-md-offset-2">
      <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60 marginTop40">
         our team is jam pack full of talented programmers and ascii artists. some of us though are very bad at backend.
      </p>
   </div>
   <div class="clearfix">
      &nbsp;
   </div>
</div>
</header>
<main>
   <div class="container ct-u-paddingTop40 ct-u-paddingBottom100">
      <div class="row">
         <div class="col-md-12 ct-content">
            <section class="clients-home">
               <div class="container">
                  <div class="clients-logos text-center">
                     <!-- starting row div -->
                     <div class="row">
                        <div class="col-md-4 client-logos-repeater asciiLightup">
::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::/++++++//::::::::::::::::::::
:::::::::::::::::::/++++++++++++::::::::::::::::::
::::::::::::::::::/+++++++++++++::::::::::::::::::
::::::::::::::::::++++++++++++++/:::::::::::::::::
::::::::::::::::::++++++++++++++/:::::::::::::::::
::::::::::::::::::/+++++++++++++::::::::::::::::::
:::::::::::::::::::/+++++++++++:::::::::::::::::::
::::::::::::::::::::/+++++++++/:::::::::::::::::::
::::::::::::::::::::/+++++++++/:::::::::::::::::::
::::::::::::::::://+++++++++++++/:::::::::::::::::
::::::::::///+++++++++++++++++++++++//::::::::::::
::::::/+++++++++++++++++++++++++++++++/::::
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Zeina - 0
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater asciiLightup">
......................NNmmmmN.....................
..................mhyssoooooossydmdhm.............
...............NhsooooooooooooooooohN.............
.............yoooooooooooooooooooooos.............
.............yooooooooooooooooooooooy.............
.............mooooooooooooooooooooood.............
..............soooooooooooooooooooos..............
..............dooooooooooooooooooooh..............
..............soooooooooooooooooooooN.............
..............soooooooooooooooooooooN.............
..............msoooooooooooooooooosd..............
...............NhooooooooooooooooyN...............
.................hooooooooooooooh.................
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Logic
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                          <pre class="asciiLightup">
```````````````````-:/-://///-````````````````````
``````````````````////////////:.``````````````````
```````````````.:////////////////-````````````````
``````````````./////::-------.////:```````````````
``````````````////-...........:////```````````````
``````````````///-.............////.``````````````
``````````````://...............://```````````````
``````````````-/:...............-/:```````````````
``````````````./:...............-/.```````````````
``````````````.--................-.```````````````
```````````````...................````````````````
`````````````````................`````````````````
                            </pre>
                          <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Smart
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
</main>
</html>
