<html>
<head>
  <title>About the devs</title>
  <style>
    body {
      background-image: linear-gradient(to right, lightgrey , #333);
    }

    b {
      font-family: courier;
      font-size: 40px;

    }
    #eren:hover {
        color: mintcream;
    }

    #allen:hover {
        color: mintcream;
    }

    #oscar:hover {
        color: mintcream;
    }

    #edwin:hover {
        color: mintcream;
    }
  </style>
</head>
<body>
  <h1><center>About the Developers</center></h1>
  <table>
    <tr>
      <td><pre align="left" id="eren">
    ::::::::::::::::::::::::::::::::::::::::::::::::::
    :::::::::::::::::::::/++++++//::::::::::::::::::::
    :::::::::::::::::::/++++++++++++::::::::::::::::::
    ::::::::::::::::::/+++++++++++++::::::::::::::::::
    ::::::::::::::::::++++++++++++++/:::::::::::::::::
    ::::::::::::::::::++++++++++++++/:::::::::::::::::
    ::::::::::::::::::/+++++++++++++::::::::::::::::::
    :::::::::::::::::::/+++++++++++:::::::::::::::::::
    ::::::::::::::::::::/+++++++++/:::::::::::::::::::
    ::::::::::::::::::::/+++++++++/:::::::::::::::::::
    ::::::::::::::::://+++++++++++++/:::::::::::::::::
    ::::::::::///+++++++++++++++++++++++//::::::::::::
    ::::::::/+++++++++++++++++++++++++++++++/:::::::::
    ::::::::++++++++++++++++++++++++++++++++++::::::::
    :::::::/++++++++++++++++++++++++++++++++++/:::::::
    :::::::++++++++++++++++++++++++++++++++++++:::::::
    ::::::/++++++++++++++++++++++++++++++++++++:::::::
    :::::://///////////////////////////////////:::::::
      </pre></td>
      <td><b>EREN:</b> <ul><li>Back End Developer</li></ul></td>
    </tr>
    <tr>
      <td><pre id="allen">
    ......................NNmmmmN.....................
    ..................mhyssoooooossydmdhm.............
    ...............NhsooooooooooooooooohN.............
    .............yoooooooooooooooooooooos.............
    .............yooooooooooooooooooooooy.............
    .............mooooooooooooooooooooood.............
    ..............soooooooooooooooooooos..............
    ..............dooooooooooooooooooooh..............
    ..............soooooooooooooooooooooN.............
    ..............soooooooooooooooooooooN.............
    ..............msoooooooooooooooooosd..............
    ...............NhooooooooooooooooyN...............
    .................hooooooooooooooh.................
    ..................mooooooooooood..................
    ...................yoooooooooos...................
    ...................yoooooooooos...................
    ..................NooooooooooooN..................
    ............NNmmdhyooooooooooooshdmmNN............
      </pre></td>
      <td><b>ALLEN:</b> <ul><li>Front End Developer</li></ul></td>
    <tr>
      <td><pre align="right" id="oscar">
    ```````````````````-:/-://///-````````````````````
    ``````````````````////////////:.``````````````````
    ```````````````.:////////////////-````````````````
    ``````````````./////::-------.////:```````````````
    ``````````````////-...........:////```````````````
    ``````````````///-.............////.``````````````
    ``````````````://...............://```````````````
    ``````````````-/:...............-/:```````````````
    ``````````````./:...............-/.```````````````
    ``````````````.--................-.```````````````
    ```````````````...................````````````````
    `````````````````................`````````````````
    `````````````````...............``````````````````
    ``````````````````.............```````````````````
    ``````````````````...........--```````````````````
    ````````````````.:-..----------:-`````````````````
    ``````````````.:::-......------:::-```````````````
    ````````..-:::::::::-.......-:::::::::-..`````````
      </pre></td>
      <td><b>OSCAR:</b> <ul><li>Back End Developer</li></ul></td>
    </tr>
    <tr>
      <td><pre align="center" id="edwin">
        ````````````````````````````````````````````````
        ````````````````````...-::.`````````````````````
        ``````````````````+hmNMMMMmds:``````````````````
        ````````````````:dMMMMMMMMMMMMo.````````````````
        ````````````````NMMMMMMMMMMMMMMh````````````````
        ```````````````.MMMMMMMMMMMMMMMm````````````````
        ````````````````NMMMMMMMMMMMMMMh````````````````
        ```````````````.NMMMMMMMMMMMMMMm.```````````````
        ```````````````-MMMMMMMMMMMMMMMN````````````````
        ````````````````oMMMMMMMMMMMMMN+````````````````
        `````````````````oMMMMMMMMMMMM/`````````````````
        ``````````````````yMMMMMMMMMMs``````````````````
        ``````````````````.MMMMMMMMMM.``````````````````
        `````````````````-oMMMMMMMMMM+-`````````````````
        ````````````````.NMMMMMMMMMMMMm`````````````````
        `````````````./odMMMMMMMMMMMMMMho:``````````````
        `````````-+sdNMMMMMMMMMMMMMMMMMMMMNds/.`````````
        `````:+ymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmy+-`````
      </pre></td>
      <td><b>EDWIN:</b> <ul><li>Front End Developer</li></ul></td>
  </table>



</body>
</html>
