<html>
<head>
  <title>About the devs</title>
  <style>
    body {
      background-image: linear-gradient(to right, darkgrey , #333);
    }
    h1 {
      font-family: "Lucida Console", Monaco, monospace;
    }
    b {
      font-family: courier;
      font-size: 40px;
    }
    #eren:hover {
        color: mintcream;
    }
    #allen:hover {
        color: mintcream;
    }
    #oscar:hover {
        color: mintcream;
    }
    #edwin:hover {
        color: mintcream;
    }
  </style>
</head>
<body>
  <h1><center>About the Developers</center></h1>
  <table width=100%>
    <tr>
      <td><pre align="left" id="eren">
::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::/++++++//::::::::::::::::::::
:::::::::::::::::::/++++++++++++::::::::::::::::::
::::::::::::::::::/+++++++++++++::::::::::::::::::
::::::::::::::::::++++++++++++++/:::::::::::::::::
::::::::::::::::::++++++++++++++/:::::::::::::::::
::::::::::::::::::/+++++++++++++::::::::::::::::::
:::::::::::::::::::/+++++++++++:::::::::::::::::::
::::::::::::::::::::/+++++++++/:::::::::::::::::::
::::::::::::::::::::/+++++++++/:::::::::::::::::::
::::::::::::::::://+++++++++++++/:::::::::::::::::
::::::::::///+++++++++++++++++++++++//::::::::::::
::::::::/+++++++++++++++++++++++++++++++/:::::::::
::::::::++++++++++++++++++++++++++++++++++::::::::
:::::::/++++++++++++++++++++++++++++++++++/:::::::
:::::::++++++++++++++++++++++++++++++++++++:::::::
::::::/++++++++++++++++++++++++++++++++++++:::::::
:::::://///////////////////////////////////:::::::
      </pre></td>
      <td><b>EREN:</b> <ul><li>Back End Developer</li></ul></td>
      <td><b>ALLEN:</b> <ul><li>Front End Developer</li></ul></td>
      <td><pre id="allen">
......................NNmmmmN.....................
..................mhyssoooooossydmdhm.............
...............NhsooooooooooooooooohN.............
.............yoooooooooooooooooooooos.............
.............yooooooooooooooooooooooy.............
.............mooooooooooooooooooooood.............
..............soooooooooooooooooooos..............
..............dooooooooooooooooooooh..............
..............soooooooooooooooooooooN.............
..............soooooooooooooooooooooN.............
..............msoooooooooooooooooosd..............
...............NhooooooooooooooooyN...............
.................hooooooooooooooh.................
..................mooooooooooood..................
...................yoooooooooos...................
...................yoooooooooos...................
..................NooooooooooooN..................
............NNmmdhyooooooooooooshdmmNN............
      </pre></td>
    </tr>
    <tr>
      <td align="left"><pre align="right" id="oscar">
```````````````````-:/-://///-````````````````````
``````````````````////////////:.``````````````````
```````````````.:////////////////-````````````````
``````````````./////::-------.////:```````````````
``````````````////-...........:////```````````````
``````````````///-.............////.``````````````
``````````````://...............://```````````````
``````````````-/:...............-/:```````````````
``````````````./:...............-/.```````````````
``````````````.--................-.```````````````
```````````````...................````````````````
`````````````````................`````````````````
`````````````````...............``````````````````
``````````````````.............```````````````````
``````````````````...........--```````````````````
````````````````.:-..----------:-`````````````````
``````````````.:::-......------:::-```````````````
````````..-:::::::::-.......-:::::::::-..`````````
      </pre></td>
      <td><b>OSCAR:</b> <ul><li>Back End Developer</li></ul></td>
      <td><b>EDWIN:</b> <ul><li>Front End Developer</li></ul></td>
      <td><pre align="center" id="edwin">
````````````````````````````````````````````````
````````````````````...-::.`````````````````````
``````````````````+hmNMMMMmds:``````````````````
````````````````:dMMMMMMMMMMMMo.````````````````
````````````````NMMMMMMMMMMMMMMh````````````````
```````````````.MMMMMMMMMMMMMMMm````````````````
````````````````NMMMMMMMMMMMMMMh````````````````
```````````````.NMMMMMMMMMMMMMMm.```````````````
```````````````-MMMMMMMMMMMMMMMN````````````````
````````````````oMMMMMMMMMMMMMN+````````````````
`````````````````oMMMMMMMMMMMM/`````````````````
``````````````````yMMMMMMMMMMs``````````````````
``````````````````.MMMMMMMMMM.``````````````````
`````````````````-oMMMMMMMMMM+-`````````````````
````````````````.NMMMMMMMMMMMMm`````````````````
`````````````./odMMMMMMMMMMMMMMho:``````````````
`````````-+sdNMMMMMMMMMMMMMMMMMMMMNds/.`````````
`````:+ymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmy+-`````
      </pre></td>
    </tr>

  </table>



</body>
</html>
