<html>

<head>
  <title>Welcome to our base!</title>
    <link rel="stylesheet" type="text/css" href="../static/base/base.css">
</head>
<body>
  <ul>
    <li><a href="../templates/base.html"><img src="../static/home.png" id="home"></a></li>
    <li><a href="../templates/index.html">Photo BOOTH</a></li>
    <li><a href="../templates/about.html">ABOUT US</a></li>
    <li><a href="../templates/login.html">REGISTER/LOG IN</a></li>
    <li><a href="../templates/form.html">CONTACT US</a></li>
  </ul>
  <img src="../static/Logo.png" alt="logo" id="easteregg">
  <div class="footer">
    <p align="right">Reach us!  <img class="tinylogos" src="../static/insta.png"> <img class="tinylogos" src="../static/facebook.png"> <img class="tinylogos" src="../static/twitter.png"></p>
  </div>
</body>
</html>
