<html>

<head>
  <title>Welcome to our base!</title>
    <link rel="stylesheet" type="text/css" href="../static/base/base.css">
</head>
<body>
  <ul>
    <li><a href="/base.html"><img src="home.png" id="home"></a></li>
    <li><a href="/index">Photo BOOTH</a></li>
    <li><a href="/about">ABOUT US</a></li>
    <li><a href="/login.html">REGISTER/LOG IN</a></li>
    <li><a href="/form.html">CONTACT US</a></li>
  </ul>
  <img src="../static/Logo.png" alt="logo" id="easteregg">
  <div class="footer">
    <p align="right">Reach us! <img class="tinylogos" src="insta.png"> <img class="tinylogos" src="facebook.png"> <img class="tinylogos" src="twitter.png"></p>
  </div>
</body>
</html>
